a{
text-decoration:none;
color:#000000;
}

body{
 margin: auto;
 }

#encabezado{
width:900px;
height:25px;

 margin: auto;
}

#noticias{
width:900px;
height:200px;
margin:auto;
  padding: 50px;
}

#noticias_ec{
 background-color: #c3c3c3;
    float: left;
    height: 250px;
    width: 100px;
    margin: 30px;
	padding: 30px;
}

#noticias_dep{
 background-color: #c3c3c3;
    float: left;
    height: 250px;
    width: 100px;
    margin: 30px;
 	padding: 30px;
}

#noticias_soc{
 background-color: #c3c3c3;
    float: left;
    height: 250px;
    width: 100px;
    margin: 30px;
    padding: 30px;
}

#noticias_x{
 background-color: #c3c3c3;
    float: left;
    height: 250px;
    width: 100px;
    margin: 30px;
    padding: 30px;
}